*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    text-align: center;
    background-color: #DA2165;
}
.header ul{
    display: inline-flex;
}
.header ul li{
    height: 50px;
    width: 120px;
    line-height: 50px;
    position: relative;
}
.header ul li:hover{
    background-color: black;
    transition: .1s;
}
.header ul li a{
    color: #fff;
    display: block;
}

.product_sub{
   display: none;
   position: absolute;
   top: 50px;
   left: 0;
}
.product_sub ul{
   background-color: #DA2165;  
   display: block;
}
.header ul li:hover .product_sub{
    display: block;
}
.product3_sub{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 120px;
}
.pro3:hover .product3_sub{
    visibility: visible;
}
.pro3{
    position: relative;
}

.flags_sec1{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 200px;
}

/* india */
.india{
    height: 300px;
    width: 500px;
    float: left;
    
}
.india .one{
    height: 100px;
    background-color: #F79431;
}
.india .two{
    height: 100px;
    background-color: #fff;
}
.india .three{
    height: 100px;
    background-color: #118407;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.two img{
    width: 100px;
    height: 100px;
}
.india{
    position: relative;
}

/* germany */
.germany{
    height: 300px;
    width: 500px;
    float: left;
}
.germany .one{
    height: 100px;
    background-color: #000000;
}
.germany .two{
    height: 100px;
    background-color: #D60000;
}
.germany .three{
    height: 100px;
    background-color: #F7C800;
}

/* usa flag */
.usa{
    height: 300px;
    width: 500px;
    position: relative;
}
.usa img{
    position: absolute;
    height: 161.532px;
}
.usa .red{
    height: 23.076px;
    width: 400px;
    background-color: #AC2132;
}
.usa .white{
    height: 23.076px;
    width: 400px;
    background-color: #ffffff;
}
/* bangladesh flag */
.bd_main{
    height: 300px;
    width: 500px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bd_main .round{
    height: 200px;
    width: 200px;
    background: red;
    border-radius: 50%;
    
}